<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- Use title if it's in the page YAML frontmatter -->
  <title>{{title.value}}</title>
  <meta name="description" content="{{meta_description.value}}">
  <meta name="keywords" content="{{meta_keywords.value}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <%= favicon_tag 'favicon.ico' %>

  <!-- Loads font awesome via the Bootstrap CDN (http://fontawesome.io/get-started/) -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag('site') %>

  <!-- Loads Modernizr -->
  <%= javascript_include_tag 'vendor/modernizr-2.6.2.min.js' %>
</head>
  <!-- This helper puts a class on the body based on the page you are on -->
  <body class="<%= page_classes %>">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

		<!-- ========================================================== -->
		<!-- Replace what's below with your site or application content -->
		<!-- ========================================================== -->

    <div id="page" class="page" role="layout">
      <header class="header"></header>
			<section class="container">
				<div class="g-row">
					<div class="g-full">
						<h1>Welcome!</h1>
						<hr>
						<p>This is a responsive template built with middleman and a handful of other awesome frameworks and libraries!  The goal of this to help speed up the development cycle by providing a collection of common organizational patterns, mixins, functions, and frameworks. A more detailed overview of what's included is below.</p>
						<h3>Resources <small>(What the hell is in this and where did these crazy ideas come from!?):</small></h3>
						<ol>
							<li><a href="http://smacss.com/" target="_blank">Scalable and Modular Architecture for CSS (SMACSS) Patterns</a></li>
							<li><a href="https://github.com/stubbornella/oocss/wiki" target="_blank">Object Oriented CSS Patterns</a></li>
							<li><a href="http://necolas.github.io/normalize.css/" target="_blank">Normalize Reset</a></li>
							<li><a href="http://html5boilerplate.com/" target="_blank">HTML5 Boilerplate</a></li>
							<li><a href="http://code.jquery.com/jquery-1.10.2.min.js" target="_blank">jQuery (1.10.2)</a></li>
							<li><a href="http://fancyapps.com/fancybox/" target="_blank">FancyBox</a></li>
							<li><a href="http://modernizr.com/" target="_blank">Modernizr (2.6.2)</a></li>
							<li><a href="http://sass-lang.com/" target="_blank">Sass</a></li>
							<li><a href="http://compass-style.org/" target="_blank">Compass</a></li>
							<li><a href="http://susy.oddbird.net/" target="_blank">Susy</a></li>
							<li><a href="https://daneden.me/animate/" target="_blank">Animate.css</a></li>
						</ol>
					</div>
				</div>
			</section>
      <footer class="footer"></footer>
    </div>

    <!-- Loads jquery via CDN with a local fallback -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="scripts/vendor/jquery-1.10.2.min.js"><\/script>')</script>

    <%= javascript_include_tag 'plugins' %>
    <%= javascript_include_tag 'main' %>
  </body>
</html>
